/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameContainer {
    position: relative;
    width: fit-content;
    margin: 1vh auto;
}

#canvas {
    background-color: #ccc;
    height: 96vh;
    width: calc(96vh / 2);
}

#nextShapeCanvas {
    width: 24vh;
    height: 24vh;
    position: absolute;
    top: 10px;
}

#scoreCanvas {
    width: 24vh;
    height: 24vh;
    position: absolute;
    top: calc(24vh + 20px);
}

button:hover {
    background-color: #bca0dc !important;
}
button:active {
    background-color: #9969d0 !important;
}

.btn {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: gray;
    border: 0px;
    font-size: 36px;
    color: #fff;
    line-height: 64px;
}

.btn-start {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-reset {
    top: calc(100% - 70px);
    left: calc(100% + 10px);
}

#image {
    display: none;
}